DB_NAME=scenario_manager
DB_USER=scenario_manager
DB_PASSWORD=change-me
DB_HOST=db
DB_PORT=5432
DB_ENCODING=UTF8

CARLA_HOST=host.docker.internal
CARLA_PORT=2000
CARLA_TRAFFIC_MANAGER_PORT=8001
CARLA_TIMEOUT_SECONDS=60
