# Production dependencies
carla==0.9.16
fastapi==0.136.1
uvicorn==0.46.0
pydantic==2.13.3
pydantic-settings
psycopg2==2.9.12
python-dotenv==1.2.2
omegaconf==2.3.0
networkx==3.6.1
numpy==2.4.5
matplotlib==3.10.9
opencv-python==4.13.0.92
open3d==0.19.0
shapely==2.1.2
scikit-learn==1.8.0
scipy==1.17.1
pandas==3.0.3
PyYAML==6.0.3
requests==2.34.2
tqdm==4.67.3
pyquaternion==0.9.9
addict==2.4.0
ConfigArgParse==1.7.5
antlr4-python3-runtime==4.9.3