.scenarios-wrapper{
    display: flex;
    justify-content: space-between;

    .scenarios-list{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        .scenario-li{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            border: 1px solid;
            padding: 5px;
            margin: 5px;

            .scenario-name{
                font-family: "Roboto", sans-serif;
                font-weight: 500;
                font-size: 18px;
            }
            
            .scenario-buttons{
                .scenario-button{
                    margin: 5px;
                }
            }
        }
    }

    .scenarios-controls{
        display: flex;
        flex-direction: column;

        .scenario-button{
            margin-bottom: 15px;
        }
    }
}